.listing {
    background: var(--accent-color);
    border-radius: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .pokemon {
    color: white
  }
  .listing-photo {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .id {
    color: white
  }
  
  section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }

  .type{
    background-color: #5A5A5A;
    padding: 2px 2px 2px 4px;
    margin: 2px;
    width: 135px;
    font-size: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -icab-border-radius: 15px;
    -o-border-radius: 15px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
          
}