<div class="contenitore" style="display: flex;flex-direction: column;">

<section>
  <form class="search">
    <input type="text" placeholder="Filtra per pokemon" (keypress)="filterResults(filter.value)" #filter/>
  </form>
  <br />
  <span class="roundy">
    <span class="title">Filtro pokemon tramite tipo</span>
    <div class="container">
      <div *ngFor="let typeVar of typeList">
        <a (click)="filterType(typeVar.id)">
          <span class="type" [style.background-image]="'linear-gradient(105deg,' + typeVar.rgb +' 30px,#5A5A5A 31px,#5A5A5A)'">
            <img [alt]="typeVar.id+'icon.png'" [src]="'../assets/icons/'+typeVar.id+'.svg'" width="20" height="20"/>
            <span>
              <span style="color: #fff;padding-left: 10px;">{{typeVar.type}}</span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </span>
</section>
<section class="results">
  <app-pokemon *ngFor="let pokemonVar of display" [pokemonInt]="pokemonVar"></app-pokemon>
</section>
<button style="display: block;" (click)="showMore()" *ngIf="moreButton">Mostra più pokemon</button>
</div>