.results {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    margin-top: 50px;
    justify-content: space-around;
    border-radius: 8px;
    padding: 10px;

  }
  
.container{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  float: left;
  
}

.roundy{
  display:block;
  float:left;
  text-align: center;
  background: #fff;
  padding: 3px;
  border: 2px solid #aaaaff;
  margin-left: 5px;
  margin-bottom: 5px;
}
img.type{
  margin: 0 5px 0 10px;
  display: inline-block;
  min-width: 50px;
  text-align: center;
}



button.search{
  display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
    margin-top: 50px;
    border-radius: 8px;
    padding: 10px;
}

  input[type="text"] {
    border: solid 5px rgba(16, 9, 9, 0.043);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  .type{
    background-color: #5A5A5A;
    padding: 2px 2px 2px 4px;
    margin: 2px;
    width: 110px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -icab-border-radius: 15px;
    -o-border-radius: 15px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
          
}
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }