<div class="contenitore" style="display: flex; flex-direction: column">
  <section>
    <div class="pokemon-container">
      <input
        type="text"
        placeholder="Filtra per pokemon"
        (keyup)="filterResults(filter)"
        [(ngModel)]="filter"
      />
      <button type="reset" class="reset" (click)="reset()">reset</button>
    </div>

    <br />
    <span class="roundy">
      <h2 class="filter-type">Filtro pokemon per tipo</h2>
      <img class="arrow-type" src="../assets/icons/down-arrow-svgrepo-com.png" alt="Freccia in basso" (click)="hideFilterMethod()">
      <div class="-filter-type" [ngClass]="{ visibile: hideFilter }" [style.--height]="height">
        <h3>Selezionare massimo 2 tipi</h3>
        <div class="container">
          <div *ngFor="let typeVar of typeList">
            <a (click)="filterType(typeVar.id)">
              <span
                class="type"
                [style.--rgb]="typeVar.rgb"
                [ngClass]="{
                  selected: typeVar.id == typeFilt1 || typeVar.id == typeFilt2
                }"
              >
                <img
                  [alt]="typeVar.id + 'icon.png'"
                  [src]="'../assets/icons/' + typeVar.id + '.svg'"
                  width="20"
                  height="20"
                />
                <span>
                  <span style="color: #fff; padding-left: 10px">{{
                    typeVar.type
                  }}</span>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </span>
  </section>
  <section class="results">
    <app-pokemon
      *ngFor="let pokemonVar of display"
      [pokemonInt]="pokemonVar"
      [style.--tipo]="getStyle(pokemonVar.type)"
    ></app-pokemon>
  </section>
  <div class="pokemon-div-more-button" [ngClass]="{ visibile: hideButton }">
    <button (click)="showMore()" class="pokemon-show-more-button">
      Mostra più pokemon
    </button>
  </div>
</div>
